{% extends 'enroll/base.html'%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Javaid Bashir :: Web developer</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
<style>
    .w-img{
        width: 53px;
    }
</style>
<body>
    <!-- <div class="login-form">
        <form action="#" method="post">
            {% csrf_token %}
           
            <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
            <h4 class="modal-title">Login to Your Accountvikas</h4>
            
            <div class="form-group">
                <label class="checkbox-inline"><input type="text">userName</label>
               {{form.username}}
            </div>
           
            <div class="form-group">
                <label class="checkbox-inline"><input type="text">email</label>
                {{form.email}}
            </div>
            <div class="form-group">
                <label class="checkbox-inline"><input type="text">email</label>
                {{form.email}}
            </div>
         </form>
         </div> -->


         <div class="login-form">
             <p style="color:red">{{form.errors}}</p>
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
                <h4 class="modal-title">Singup to Your Django Account</h4>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" required="required" name="username">
                
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="email" required="required" name="email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="password1" required="required" name="password1">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password2" required="required" name="password2">
                </div>
                <div class="form-group small clearfix">
                    <label class="checkbox-inline"><input type="checkbox"> Remember me</label>
                    <a href="#" class="forgot-link">Forgot Password?</a>
                </div> 
               <button type="submit">Signup</button>           
            </form>			
            <div class="text-center small">Don't have an afhfhfghccount? <a href="{% url 'login'%}">Login Now</a></div>
        </div>
         </body>


{% endblock content %}

